<h2>Add questions to "<%= @survey.title %>"</h2>

  <% if !@errors.empty? %>
  <ul class="errors">
    <% @errors.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<form action="<%= "/surveys/#{@survey.id}/questions" %>" method="post">
  <label for="prompt_input">Question: </label>
  <input type="text" id="prompt_input" name="prompt" value="<%= params[:prompt]%>"></input>
  <% params[:choices] = {} if !params[:choices] %>
  <label for="choice_input">Choices: </label>
  <input type="text" id="choice_input" name="choices[1]" value="<%= "#{params[:choices]["1"]}" %>"></input>
  <input type="text" id="choice_input" name="choices[2]" value="<%= "#{params[:choices]["2"]}" %>"></input>
  <input type="text" id="choice_input" name="choices[3]" value="<%= "#{params[:choices]["3"]}" %>"></input>
  <input type="text" id="choice_input" name="choices[4]" value="<%= "#{params[:choices]["4"]}" %>"></input>

  <input type="submit" value="Add Question"></input>
</form>
<a href="/">Done</a>
<% @survey.questions.order(:created_at).includes(:choices).each do |question| %>
  <div class="question">
  <p><%= question.prompt %></p>
  <% choices = question.choices.includes(:answers) %>
  <div class="choice-list">
  <% choices.each do |choice| %>
    <div>
      <%= choice.text %>
    </div>
  <% end %>
  </div>
<% end %>